language: go

go:
  - 1.1
  - 1.2
  - 1.3
  - 1.4
  - tip

env:
  global:
    - secure: "BFFoJKnSYjja7BJ3KD86CxCw/BXgP/5bs2RTiObguYSoE8044cMsYafIzz2tN4sUhHHNGoz83F6cjMl3knNRcNK5YL/05YzKTBdXuSlVkCwwWeGqwQghHL2l3UpG5TAn9yIwoZXB9mqRN6vymoqsXhdC7yK5n9QroQDeJAws0Ao="

  matrix:
    - "COVERAGE=false PUBLISH=false"

matrix:
  exclude:
    - go: 1.4
      env:
        - "COVERAGE=false PUBLISH=false"
  include:
    - go: 1.4
      env:
        - "COVERAGE=true PUBLISH=true"

before_install:
  - gem install cucumber
  - gem install rspec

install:
  - go get -v ./...
  - go get -v github.com/stretchr/testify
  - if [ "$COVERAGE" == "true" ]; then ( go get -v github.com/mattn/goveralls ); fi
  - if [ "$COVERAGE" == "true" ]; then ( go get -v golang.org/x/tools/cmd/cover ); fi

script:
  - ( go run features/wire_server.go & ) ; sleep 1 ; cucumber --profile done --profile html
  - ( go run features/wire_server.go & ) ; sleep 1 ; cucumber --profile wip
  - if [ "$COVERAGE" == "false" ]; then ( go test -v ); fi
  - if [ "$COVERAGE" == "true" ]; then ( go test -v -covermode=count -coverprofile=gourd.cov ); fi
  - if [ "$COVERAGE" == "true" ]; then ( PATH="$PATH:~/gopath/bin" goveralls -coverprofile=gourd.cov -service=travis-ci ); fi

after_success:
  - if [ "$PUBLISH" == "true" ]; then ( ./update-gh-pages.sh ); fi

branches:
  except:
    - gh-pages

