language: go

matrix:
  include:
    - go: 1.0
      env: CUCUMBER=false COVERAGE=false
    - go: 1.1
      env: CUCUMBER=false COVERAGE=false
    - go: 1.2
      env: CUCUMBER=true COVERAGE=true

before_install:
  - if [ "$CUCUMBER" == "true" ]; then ( gem install cucumber ); fi

install:
  - go get -v ./...
  - go get -v github.com/stretchr/testify
  - if [ "$COVERAGE" == "true" ]; then ( go get -v github.com/mattn/goveralls ); fi

script:
  - if [ "$CUCUMBER" == "true" ]; then ( go run features/steps.go & ); ( sleep 1 && cucumber ); fi
  - if [ "$COVERAGE" == "false" ]; then ( go test -v ./... ); fi
  - if [ "$COVERAGE" == "true" ]; then ( go test -v -covermode=count -coverprofile=gourd.cov ./... ); fi
  - if [ "$COVERAGE" == "true" ]; then ( "$GOPATH/bin/goveralls" -coverprofile=gourd.cov -service=travis-ci ); fi

notifications:
  email:
    on_success: change
    on_failure: always

