language: go

go:
  - 1.1
  - 1.2
  - 1.3
  - 1.4
  - tip

env:
  - COVERAGE=false

matrix:
  exclude:
    - go: 1.4
      env: COVERAGE=false
  include:
    - go: 1.4
      env: COVERAGE=true

before_install:
  - gem install cucumber
  - gem install rspec

install:
  - go get -v ./...
  - go get -v github.com/stretchr/testify
  - if [ "$COVERAGE" == "true" ]; then ( go get -v github.com/mattn/goveralls ); fi
  - if [ "$COVERAGE" == "true" ]; then ( go get -v golang.org/x/tools/cmd/cover ); fi

script:
  - ( go run features/wire_server.go & ) ; sleep 1 ; cucumber --tags ~@wip
  - ( go run features/wire_server.go & ) ; sleep 1 ; cucumber --wip --tags @wip
  - if [ "$COVERAGE" == "false" ]; then ( go test -v ); fi
  - if [ "$COVERAGE" == "true" ]; then ( go test -v -covermode=count -coverprofile=gourd.cov ); fi
  - if [ "$COVERAGE" == "true" ]; then ( PATH="$PATH:~/gopath/bin" goveralls -coverprofile=gourd.cov -service=travis-ci ); fi

