language: go

go:
  - 1.0
  - 1.1
  - 1.2

before_install:
  - gem install cucumber

install:
  - go get -v ./...
  - go get -v github.com/stretchr/testify


after_success:
  - go run features/steps.go &
  - cucumber

notifications:
  email:
    on_success: change
    on_failure: always


