language: go

go:
  - 1.0
  - 1.1
  - 1.2

env:
  - RUN_CUCUMBER=true
  - RUN_CUCUMBER=false

matrix:
  exclude:
    - env: RUN_CUCUMBER=true
    - go: 1.2
      env: RUN_CUCUMBER=false
  include:
    - go: 1.2
      env: RUN_CUCUMBER=true

before_install:
  - if [ "$RUN_CUCUMBER" == "true" ]; then ( gem install cucumber ); fi

install:
  - go get -v ./...
  - go get -v github.com/stretchr/testify

script:
  - go test -v ./...
  - if [ "$RUN_CUCUMBER" == "true" ]; then ( go run features/steps.go & ); ( sleep 1 && cucumber ); fi

notifications:
  email:
    on_success: change
    on_failure: always


